django==5.0.7
djangorestframework
django-cors-headers
django-filter
djangorestframework_simplejwt

drf-spectacular

python-dotenv

requests

black

beautifulsoup4
html5lib

psycopg[binary,pool]

colorful-logging
